
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">

    <title>Document</title>
</head>
<body>
    
 <h1> Hi I am Apple, And this is about me</h1>
 <h2 style="text-align: center;">HOBBIES </h2>
 <h2 style="text-align: center;">Dancing</h2>
<h2 style="text-align: center;">Singing </h2>
 <h2 style="text-align: center;">Playing badminton</h2>

</body>
</html>